
table {
  /*border: 1px solid black;*/
  border-collapse: separate;
  border-spacing: inherit;
  font-size: 1.75rem;
}

td {
  width: 75px;
  height: 75px;
  border: 1px solid black;
  padding: .25rem;
  text-align: center;
}

ul {
  margin: 1.5rem 0;
  line-height: 1.7;
}

.input-field-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.input-field-prepend {
  margin-right: -1px;
  display: flex;
}

.input-group-text {
  display: flex;
  width: 100%;
  align-items: center;
  padding: .375rem .75rem;
  margin-left: .5rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #999;
  border-right: none;
  border-bottom-left-radius: .25rem;
  border-top-left-radius: .25rem;
}

.input-field {
  display: flex;
  max-width: 5rem;
  width: 100%;
  flex: 1 1 auto;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border: 1px solid #999;
  border-radius: .25rem;
  transition: all .15s ease-in-out;
}

.input-accepted {
  border: 1px solid lightgreen;
}

.input-accepted:focus {
  outline: lightgreen auto 5px;
  outline-offset: -2px;
}

/*.input-accepted:-moz-focusring {
  box-shadow: 0px 0px 3px 1px lightgreen;
}*/

.input-failed {
  border: 1px solid red;
}

.input-failed:focus {
  outline: red auto 5px;
}

.with-prepend {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-container {
  margin-bottom: 1.5rem;
}

.btn {
  border: 1px solid #999;
  padding: .5rem .75rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
  border-radius: .25rem;
  transition: all .15s ease-in-out;
}

.btn:hover {
  transition: .15s ease-in-out;
}

.btn:disabled {
  cursor: not-allowed;
}

#intro-ms-draw-btn:hover:not([disabled]) {
  background-color: #93deff;
}

#intro-ms-animate-btn:hover {
  background-color: lightgreen;
}

.btn-active {
  background-color: lightgreen;
  cursor: default;
}

#intro-magic-square {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3rem;
}

.totals-top-left {
  border: none;
}

.totals-center-top {
  border-top: none;
  border-right: none;
  border-left: none;
}

.totals-top-right {
  border-right: none;
  border-top: none;
  border-bottom: #eee;
}

.totals-center-left {
  border-top: none;
  border-bottom: none;
  border-left: none;
}

.totals-center-right {
  border-right: none;
  border-bottom: #eee;
}

.totals-bottom-left {
  border-left: none;
  border-bottom: none;
}

.totals-center-bottom {
  border-bottom: none;
  border-left: #eee;
}

.totals-bottom-right {
  border-right: none;
  border-bottom: none;
  border-left: #eee;
}
